{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/tool-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="tool-container">
  <div class="tool-details">
    <h1>{{ tool.name }}</h1>
    <table class="table">
      <thead>
        <tr>          
          <th scope="col">Manufacturer</th>
          <th scope="col">ModelNumber</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>          
          <td>{{ tool.manufacturer }}</td>
          <td>{{ tool.modelNumber }}</td>
          <td>{{ tool.description }}</td>
        </tr>
      </tbody>
    </table>
    <div class="tool-actions">
      <a href="{% url 'tools_update' tool.id %}" class="btn warn">Edit</a>
      <a href="{% url 'tools_delete' tool.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}