{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/tool-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="tool-container">
  <div class="tool-details">
    <h1>{{ tool.name }}</h1>
    <p><small><strong> Manufacturer: </strong>{{ tool.manufacturer }}</small></p>
        <p><small><strong> ModelNumber: </strong>{{ tool.modelNumber }}</small></p>
        <p><small><strong> Description: </strong>{{ tool.description }}</small></p>
    <div class="tool-actions">
      <a href="{% url 'tools_update' tool.id %}" class="btn warn">Edit</a>
      <a href="{% url 'tools_delete' tool.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}